# Auto detect text files and perform LF normalization
* text=auto

# 源码文件强制使用 LF
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.css text eol=lf
*.html text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
